extends ../layout

block content
  form(class='form' id='form', method='post', action='/issues/create')
    h3.center Add Issue Details

    div.form-group
      label(for='description') Description
      textarea(type='text', id='description', name='description' placeholder='Describe issue' required)

    div.form-group
      label(for='severity') Severity
      select(name='severity' required)
        option(value='') Select
        each severity in severities
            option(value=severity) #{severity}

    div.form-group
      label(for='status') Status
      select(name='status' required)
        option(value='') Select
        each status in statuses
            option(value=status) #{status}

    div.form-group
      label(for='createdDate') Created Date
      input(type='date', id='createdDate', name='createdDate')

    div.form-group
      label(for='resolvedDate') Resolved Date
      input(type='date', id='resolvedDate', name='resolvedDate')

    div.form-group
      button(class='btn btn-success' type='submit', value='Add Issue') Add Issue

  div.menu
    a(href='/issues')
      button.btn.btn-danger Go Back